<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adventure.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @adventure.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@adventure.picture_url, :width => 600) if @adventure.picture.present? %>
  <h3>Comments</h3>
    <%= link_to 'show all comments', adventure_comments_path(adventure_id: @adventure.id) %></p>
    <% @comments.each do |comment| %>
      <div>
        <strong><%= comment.user_name %></strong>
        <br />
        <p><%= comment.body %></p>
        <p><%= link_to 'Delete', adventure_comment_path(adventure_id: @adventure.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
  <%= render 'comments/form' %>
</p>

<p>
  <strong>Location:</strong>
  <%= @adventure.location %>
</p>

<p>
  <strong>Visit:</strong>
  <%= @adventure.visit %>
</p>

<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
